extends villain-forms.pug

mixin field(label, fieldType, fieldName, fieldValue, require)
    div.villain__input-div
        input.villain__input-field(type=fieldType name=fieldName value=fieldValue required=require placeholder=label)

block right
    a.villain__button-link(href="/users/login") Log In
    h2 Sign up for free.
    form.villain__signup-form(action="/users/sign-up" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Title", "text", "title", user.title, false)
        +field("First Name", "text", "firstName", user.firstName, true)
        +field("Last Name", "text", "lastName", user.lastName, false)
        +field("Username", "text", "userName", user.userName, true)
        +field("Email", "email", "email", user.email, true)
        +field("Password", "password", "password", user.password, true)
        +field("Confirm Password", "password", "confirmPassword", "", true)
        button(type="submit") Register
